body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 82vh;
    width: 82vw;
    background-color: aliceblue;
    border-radius: 1%;
    padding: 2rem;
}

.container{
    display: flex;
    justify-content: space-around;
}

.camera {
    height: 40vh;
    width: 30vw;
    background-color: darkblue;
}

.graph {
    height: 40vh;
    width: 30vw;
    background-color: darkblue;
}

/* .sliders {
    display: flex;
    justify-content: space-between;
} */

.submit-form{
    display: block;
    margin-left: auto;
    margin-right: 0;
}