body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 82vh;
    width: 82vw;
    background-color: rgb(176, 201, 224);
    border-radius: 1%;
    padding: 2rem;
}

button{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}